@model PostViewModel



<div class="card bg-neutral-content shadow-2xl mt-6">
    <div class="max-w-4xl px-10 py-6">
        <div class="flex justify-between items-center">
            <span class="font-light text-neutral">@Model.Post.PostedOn</span>
            <div>
                @foreach (var tag in Model.Tags)
                {
                    <a asp-action="Tag" asp-controller="Post" asp-route-id="@tag" class="px-2 py-1 bg-accent text-accent-content font-bold rounded hover:bg-accent-focus">Tag</a>
                }
            </div>
        </div>
        <div class="mt-2">
            <a asp-controller="Post" asp-route-id="@Model.Post.PostId" class="text-2xl text-gray-700 font-bold hover:underline">@Model.Post.PostTitle</a>
            <p class="mt-2 text-neutral">
                @Model.Post.PostBreifText
            </p>
        </div>
        <div class="flex justify-between items-center mt-4">
            <a asp-controller="Post" asp-route-id="@Model.Post.PostId" class="text-info hover:underline">Read more</a>
            <div>
                <div class="flex items-center">
                    <img src="~/images/tmh_hs.png" alt="avatar" class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block" />
                    <h1 class="text-base-content font-bold hover:underline">Tim Herron</h1>
                </div>
            </div>
        </div>
    </div>
</div>